<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256007802506-hbuh655j7q39rqj9kag4j0jdutnk43k7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256007802506-hbuh655j7q39rqj9kag4j0jdutnk43k7</string>
	<key>API_KEY</key>
	<string>AIzaSyAcUh6tc5xWVYGzY0MiheVtORGaSvD53mc</string>
	<key>GCM_SENDER_ID</key>
	<string>256007802506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stylepitch.signin</string>
	<key>PROJECT_ID</key>
	<string>stylepitch-2</string>
	<key>STORAGE_BUCKET</key>
	<string>stylepitch-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256007802506:ios:9b24782dc347a38a93e773</string>
</dict>
</plist>